<div id="main_login">
    <div id="header_login">
        <div class="container header_content">
            <div class="header-wraper">
                <div class="brand">
                    <h4>NT Shop</h4>
                    <img style="width: 160px;height:70px" class="logo-brand"
                        src="https://anhdep.tv/attachments/ac1afeb3909de0315b221710d037f01c-jpeg.5868/" alt="">
                </div>
                <h4>Đăng nhập</h4>
            </div>
            <a href="#">Cần trợ giúp ?</a>
        </div>
    </div>
    <div id="content_login">
        <div class="form">
            <h3>Đăng nhập</h3>
            <form class="form_login">
                <a href="/auth/facebook" class="login_fb">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/600px-Facebook_f_logo_%282019%29.svg.png"
                        alt="">
                    <p>Đăng nhập bằng Facebook</p>
                </a>
                {{!-- <a href="/auth/google" class="login_gg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"
                        alt="">
                    <p>Đăng nhập bằng Google</p>
                </a> --}}
            </form>
            <div class="signup_page">
                <p>Bạn chưa có tài khoản?</p>
                <a href="#">Đăng ký ngay</a>
            </div>
        </div>
    </div>

    <div id="footer_login">
        <div class="footer_login-wrap container">
            <div class="footer-element">
                <div class="footer-element-customer_care">
                    <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                    <ul>
                        <li>Trung tâm trợ giúp</li>
                        <li>NT Blog</li>
                        <li>NT Mail</li>
                        <li>Hướng Dẫn Mua Hàng</li>
                        <li>Hướng Dẫn Bán Hàng</li>
                        <li>Thanh Toán</li>
                        <li>NT coin</li>
                        <li>Vận Chuyển</li>
                        <li>Trả Hàng & Hoàn Tiền</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-about_us">
                    <h4>VỀ NT shop</h4>
                    <ul>
                        <li>Giới Thiệu Về NT shop</li>
                        <li>Tuyển dụng</li>
                        <li>Điều khoản</li>
                        <li>Chính Sách Bảo Mật</li>
                        <li>Chính Hãng</li>
                        <li>Kênh Người Bán</li>
                        <li>Flash Sales</li>
                        <li>Liên Hệ Với Truyền Thông</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-payment">
                    <h4>THANH TOÁN</h4>
                    <ul>
                        <li>
                            <img src="https://einvoice.vn/FileUpload/ArticleMaterials/images/thanh-toan-dien-tu-4.jpg"
                                alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-follow_us">
                    <h4>THEO DÕI CHÚNG TÔI TRÊN</h4>
                    <ul>
                        <li><i class="fab fa-facebook"></i>Facebook</li>
                        <li><i class="fab fa-instagram"></i> Instagram</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-download_my_app">
                    <h4>TẢI ỨNG DỤNG NT shop NGAY THÔI</h4>
                    <a href="#">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="" class="footer-element-download_my_app-qrcode">
                        <div class="footer-element-download_my_app-apps">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>