<div class="container mt-4">
    <form class="addLink" method="POST" action="/add-link">
        <div class="wrapper">
            <input name="link" style="width: 400px; padding: 10px 10px;" type="text" maxlength="200" placeholder="Add link here" autocomplete="off"> 
            <button type="submit">add link</button>
        </div>
        <input class="mt-4" name="note" type="text" placeholder="note for link" maxlength="80" autocomplete="off"
            style="width: 600px; padding: 10px 10px;">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Link</th>
                <th scope="col">Note</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each link}}
            <tr>
                <td><a style="color: rgb(7, 115, 209) !important; text-decoration: underline" href="{{this.href}}">{{this.href}}</a></td>
                <td>{{this.note}}</td>
                <td><a style="color: red" href="/link-delete/{{this._id}}" >Xóa</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>