
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_cart {
    display: block;
}

#header_cart {
    width: 100%;
    height: 40px;
    padding: 0 200px;
    max-height: 40px;
    background: linear-gradient(-180deg,#642b73, #c6426e);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header_cart-links a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 12px;
    font-size: 15px !important;
}

.header_cart-links a:hover {
    color: rgb(8, 201, 169);
}

.header_cart-user , .header_cart-user-support, .header_cart-user-account-wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_cart-user-account-wrapper {
    position: relative;
}

.header_cart-user-account-wrapper span {
    font-size: 15px !important;
}

.header_cart-user-support {
    margin-right: 25px;
    font-size: 15px !important;
}

.header_cart-user-support i {
    margin-right: 5px;
}

.header_cart-user-account-user_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.header_cart-user-account-option {
    display: flex;
    flex-direction: column;
    position:absolute;
    justify-content:center;
    align-items: center;
    width : 150px;
    height: 80px;
    border-radius: 3px;
    background-color:#fff;
    box-shadow: 0 0 2px 0 #ccc;
    margin-top: 8px;
    background-color:#fff;
    transform-origin: top;
    animation: showList ease-in 0.25s;
    display: none;
}

.header_cart-user-account-option::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 10px;
    border-color: transparent  transparent #fff transparent;
    position: absolute;
    top: -20px;
}

.header_cart-user-account-option::after {
    content: "";
    display: block;
    width: 130px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -14px;
}

.header_cart-user-account:hover .header_cart-user-account-option {
    display: flex;
}

.header_cart-user-account-option a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0;
}

.header_cart-user-account-option a:hover {
    color: rgb(189, 91, 11);
}

/* =============================================================== content ===================================================== */

#content_cart {
    padding: 0 200px;
    background-color:#ddd;
}

.content_cart-control-wrapper, .content_cart-product {
    display: flex;
    padding: 0 40px;
    background-color: #fff;
}

.content_cart-product_info {
    min-width: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
}

.content_cart-product_info input {
    margin-right: 10px;
}


.content_cart-control-item {
    max-width: 10%;
    min-width: 10%;
}

.content_cart-control-item span {
    color: rgb(100, 99, 99);
    text-align: center;
}

/* --------------------------------------------------- danh sach san pham trog cart --------------- ------------------------------ */

.content_cart-product {
    flex-direction: column;
    width: 100%;
}

.content_cart-product-item {
    display: flex;
    width: 100%;
}

.content_cart-product-item-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.content_cart-product-item-wrapper-link {
    display: flex;
    align-items: center;
}

.content_cart-product-item-avatar {
    height: 80px;
    width: 80px;
}

.content_cart-product-item-introduction {
    color: #000;
    font-size: 15px;
    line-height: 16px;
    height: 32px;
    max-width: 60% ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 10px !important;
}















