
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_cart {
    display: block;
    background-color: #ddd;
}

#header_cart {
    width: 100%;
    height: 40px;
    padding: 0 150px;
    max-height: 40px;
    background: linear-gradient(-180deg,#642b73, #c6426e);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header_cart-links a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 12px;
    font-size: 15px !important;
}

.header_cart-links a:hover {
    color: rgb(8, 201, 169);
}

.header_cart-user , .header_cart-user-support, .header_cart-user-account-wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header_cart-user-account-wrapper {
    position: relative;
}

.header_cart-user-account-wrapper span {
    font-size: 15px !important;
}

.header_cart-user-support {
    margin-right: 25px;
    font-size: 15px !important;
}

.header_cart-user-support i {
    margin-right: 5px;
}

.header_cart-user-account-user_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.header_cart-user-account-option {
    display: flex;
    flex-direction: column;
    position:absolute;
    justify-content:center;
    align-items: center;
    width : 150px;
    height: 80px;
    border-radius: 3px;
    background-color:#fff;
    box-shadow: 0 0 2px 0 #ccc;
    margin-top: 8px;
    transform-origin: top;
    animation: showList ease-in 0.25s;
    display: none;
}

.header_cart-user-account-option::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 10px;
    border-color: transparent  transparent #fff transparent;
    position: absolute;
    top: -20px;
}

.header_cart-user-account-option::after {
    content: "";
    display: block;
    width: 130px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -14px;
}

.header_cart-user-account:hover .header_cart-user-account-option {
    display: flex;
}

.header_cart-user-account-option a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0;
}

.header_cart-user-account-option a:hover {
    color: rgb(189, 91, 11);
}

/* =============================================================== content ===================================================== */

#content_cart {
    padding: 0 150px;
}

.content_cart-control {
    margin-top: 30px;
}

.content_cart-product {
    margin-top: 30px;
}

.content_cart-control-wrapper, .content_cart-product {
    display: flex;
    background-color: #fff;
}

.content_cart-control-wrapper {
    padding: 20px 40px;
}

.content_cart-product_info {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}

.content_cart-product_info input {
    margin-right: 10px;
}

.select_checkbox, .select_all {
    min-width: 18px;
    min-height: 18px;
}

.content_cart-control-item {
    max-width: 11.25%;
    min-width: 11.25%;
    display: flex;
    font-size: 16px !important;
}

.content_cart-control-item span {
    color: rgb(100, 99, 99);
    text-align: center;
}

/* --------------------------------------------------- danh sach san pham trog cart --------------- ------------------------------ */

.content_cart-product {
    flex-direction: column;
    width: 100%;
    background-color: #ddd;;
}

.content_cart-product-item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 40px;
    background-color: #fff;
}

.content_cart-product-item-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.content_cart-product-item-wrapper-link {
    display: flex;
    align-items: center;
}

.content_cart-product-item-avatar {
    height: 80px;
    width: 80px;
}

.content_cart-product-item-introduction {
    color: #000;
    font-size: 15px;
    line-height: 16px;
    height: 32px;
    max-width: 60% ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 10px !important;
}

.content_cart-control-item-amount {
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

.content_cart-control-item-amount input {
    width: 30%;
    padding: 5px 3px 5px 14px;
    margin: 0 5px;
    font-size: 16px;
}

.content_cart-control-item-amount i {
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
    color: rgb(110, 107, 107);
}

.content_cart-control-item-amount i:hover {
    transform: scale(1.5);
    color: #000;
}

.content_cart-control-item-payment span, .content_cart-control-item-payment p {
    color: rgb(6, 108, 243);
}

.delete_cart_product {
    cursor: pointer;
}

.delete_cart_product:hover {
    color: red;
}

.content_cart-product-manipulation {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    margin-top: 10px;
}

.content_cart-product-manipulation-selection {
    width: 50%;
    display: flex;
    align-items: center;
}

.content_cart-product-manipulation-selection input {
    margin-right: 10px;
}

.select_all_text {
    margin-right: 20px;
}

.content_cart-product-manipulation-buy_product {
    display: flex;
    align-items: center;
    
}

.content_cart-product-manipulation-total_price {
    font-size: 18px !important;
}

.content_cart-product-manipulation-total_price-btn {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    margin:0 5px;
    font-size: 18px !important;
}

.content_cart-product-manipulation-buy_btn {
    padding: 10px 20px;
    background-color: rgb(0, 132, 255);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}

.content_cart-product-manipulation-buy_btn:hover {
    background-color: rgb(5, 106, 201);
}

.content_cart-product-empty-img {
    width: 100%;
    height: 100%;
}

.delete_cart_product-all:hover {
    cursor: pointer;
    color: red;
}

/* ========================================================== footer ========================================================= */

.footer_cart {
    margin-top: 80px;
    background-color:#fff !important;
}

/*  ================================================= =========== modal =====================================================*/

.modal_buy_product {
    display: flex;
    align-items: center;
    justify-content:center !important;
}

.modal_content-comfirm_buy_product {
    width: 500px;
    height: 560px;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 20px;
    top: 40px;
    box-shadow: 0 0 2px 0 #ccc;
}

.modal_content-comfirm_buy_product h3 {
    margin-bottom: 20px;
}

.modal_content-comfirm_buy_product-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
}

.modal_content-comfirm_buy_product-item input {
    padding: 8px 10px;
    width: 60%;
    font-size: 16px !important;
    letter-spacing: 1px;
}

.modal_content-comfirm_buy_product-item label {
    min-width: 120px;
    max-width: 120px;
    font-weight: bold;
    /* margin-right: 10px; */
}

.modal_content-comfirm_buy_product-item p {
    min-width: 60%;
    white-space: wrap;
}

.modal_content-comfirm_buy_product-item-add_new_address {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    background-color: rgb(6, 156, 119);
}

.modal_content-comfirm_buy_product-item-add_new_address:hover {
    background-color: rgb(13, 184, 141);
}

.unit_of_delivery {
    min-width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.unit_of_delivery span {
    margin: 2px 0;
    cursor: pointer;
}

.unit_of_delivery span:hover {
    color:rgb(189, 91, 11)
}

.payment_form-wrapper {
    min-width: 60%;
    display: flex;
    flex-direction: column;
}

.payment_form-wrapper-item {
    display: flex;
    padding: 3px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    width: 180px;
    margin: 4px 0;
}

.payment_form-wrapper-item p {
    margin-right: 3px;
    min-width: 140px;
}

.payment_form-wrapper-item i {
    color: green;
}

.modal_content-cart-confirm_btn {
    padding: 6px 20px;
    cursor: pointer;
    background-color: rgb(11, 177, 243);
    border-radius: 3px;
    font-size: 18px;
}



