* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    background-color: rgba(245, 236, 236, 0.8);
}

#header {
    width:100%;
    height: 120px;
    background: linear-gradient(-180deg,#642b73, #c6426e);
    color: #fff;
    font-size: 15px;
    position: fixed;
    z-index: 100;
    display: block;
}

:root a {
    color: #fff;
    text-decoration: none;
}

:root p {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    display: flex;
    justify-content:space-between;
}

.link_user {
    display: flex;
}

.link_user > a {
    font-size: 15px;
    line-height: 15px;
    margin-right: 20px;
}

.link_user > a::after , .download_app_on_mobile p::after, .header-account :first-child::after{
    content:"";
    display: inline-block;
    width:2px;
    height:20px;
    background-color:rgb(241, 214, 214);
    position: relative;
    left: 10px;
    line-height:10px;
    top: 5px;
    opacity: 0.2;
}

.download_app_on_mobile {
    position: relative;
    cursor: pointer;
}

.qrcode_app {
    position:absolute;
    width:180px;
    top: 130%;
    left: -10px;
    z-index: 5;
    background: #fff;
    transform-origin: top left;
    animation: showList linear 0.2s;
    box-shadow: 0px 0px 4px 0 #ccc;
    display: none;
}

.qrcode_app::before {
    content: "";
    width: 100%;
    height:20px;
    position: absolute;
    display: block;
    top: -15px;
}

.qrcode_app img {
    border-radius:2px;
}

.download_app_on_mobile:hover .qrcode_app {
    display: block;
}

.some_app {
    padding:0 8px 10px 8px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.some_app img {
    padding-right: 5px;
    margin-top: 5px;
}

.link_to_social {
    line-height:30px;
    margin-left: 25px;
}

.link_to_social a i {
    padding: 0 3px;
    font-size: 18px;
}

.header-section {
    display: flex;
}

.header-section-item {
    margin-left: 15px;
    cursor: pointer;
    line-height:30px;
}

.header-account a:first-child{
    margin-left: 10px;
}

.header-account > a {
    margin-right: 20px;
}

.header-account :first-child::after {
    display: none;
}

.myAccount {
    display: flex;
    position: relative;
}

.myAccount .username {
    font-size: 14px;
    user-select: none;
}

.myAccount .username:hover {
    opacity: 0.8;
}

.myAccount .avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 4% 5px 0 0;
}

.myAccount-show {
    width: 150px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: -15%;
    z-index: 10;
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0 3px 0 #ccc;
    transform-origin: top;
    animation: showList linear 0.2s;
    display: none;
}

.myAccount-show::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 15px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -27%;
}

.myAccount-show::after{
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -10%;
}

.myAccount:hover .myAccount-show {
    display: flex;
}

.myAccount-show a {
    color: #000;
    text-decoration: none;
    padding: 2px 0;
    margin: 0 !important;
}

.myAccount-show a:hover {
    color:rgb(3, 181, 194);
}

.link_user > a:hover, .download_app_on_mobile p:hover, .header-account a:hover, .header-notification:hover p, .header-support:hover {
    opacity: 0.7;
}

.header-notification {
    position: relative;
}

.header-notification-show {
    width: 400px;
    height: 370px;
    background:#fff;
    position : absolute;
    left: -350%;
    z-index: 5;
    margin-top: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 3px 2px 1px #ccc;
    transform-origin: 90% top ;
    animation: showList ease-in 0.25s;
    display: none;
}

.header-notification-show h4 {
    color: #7e7a7a;
    font-size: 20px;
}

@keyframes showList {
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.header-notification-show::before {
    content: "";
    position: absolute;
    border-style: solid ;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    right: 0;
}

.header-notification-show::after {
    content: "";
    position: absolute;
    display: block;
    right: 30px;
    top: -10px;
    width: 80px;
    height: 15px;
}

.header-notification:hover .header-notification-show {
    display: flex ;
}

.header-notification-show img {
    height: 40%;
    width: 40%;
}

.header-notification-show h3 {
    font-size:15px;
    line-height:15px;
    color:#000;
    font-weight: normal;
    margin-top: 15px;
}

.header-notification-show-btn_login {
    display: block;
    width:100%;
    display:flex;
    position: relative;
    top: 23%;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.header-notification-show-btn_login a {
    display:block;
    width: 50%;
    text-align: center;
    color:#000;
    background-color: rgb(247, 246, 239);
    font-size: 15px;
    padding: 2px 0;
}

.header-notification-show-btn_login a:hover {
    background-color: #ccc;
    color: red;
}

/* ---------------------------------------------------------------- header search ----------------------------------------------------- */

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-search_bar {
    background: #fff;
    border-radius: 20px;
    width: 60%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.header-search_bar input {
    height: 100%;
    width: 90%;
    margin-left: 20px;
    border:none;
    outline: none;
    color: #000;
    font-size: 16px;
}

.header-search_bar a {
    font-size: 20px;
    line-height: 20px;
    padding:12px 28px;
    box-sizing: border-box;
    background: linear-gradient(0,#642b73, #c6426e);
    border-radius: 20px;
}

.header-cart a {
    position: relative;
}

.header-cart a i {
    display: block;
    font-size: 25px;
    line-height: 25px;
    position: relative;
}

.header-cart-number_display {
    position: absolute;
    width: 25px;
    height: 20px;
    border-radius: 40%;
    background-color: yellow;
    border: 2px solid rgb(197, 26, 77);
    top: -10px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: rgb(70, 68, 68);
}

.header-cart-list_product {
    width: 400px;
    height: 260px;
    position: absolute;
    right: 18%;
    top: 84%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px #ccc;
    transform-origin: 95% top;
    animation: showList ease-in 0.25s;
    border-radius: 4px;
    display: none;
}

.header-cart-list_product-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items:  center;
    justify-content:center;
    flex-direction: column;
    cursor: default;
}

.header-cart-list_product-ul {
    max-height: 210px;
    overflow: hidden;
    min-height: 210px;
}

.header-cart-list_product-item:first-child {
    margin-top: 5px;
}

.header-cart-list_product-item {
    padding:10px;
    display: flex;
    color: #000;
    align-items: center;
    cursor: default;
}

.header-cart-list_product-item:hover {
    background-color: rgb(238, 229, 229);
}

.header-cart-list_product-item img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 2px;
}

.header-cart-list_product-item p {
    max-width: 60%;
    min-width: 60%;
    line-height: 16px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 10px;
}

.header-cart-list_product-item span {
    font-size:16px ;
    color: rgb(228, 69, 21);
}

.header-cart-list_product::before {
    content: "";
    border-style: solid;
    position: absolute;
    border-width: 15px 15px;
    border-color: transparent transparent #fff transparent;
    top: -9%;
    right: 13px;
    cursor: pointer;
    z-index: 0;
}

.header-cart-list_product img {
    width: 20%;
    height: 30%;
}

.header-cart-list_product h3 {
    font-size: 15px;
    line-height: 15px;
    color: gray;
    margin-top: 20px;
}

.header-cart:hover .header-cart-list_product{
    display: flex;
}

.view_cart_product_btn {
    height: 30px;
    text-align: center;
    background-color: rgb(57, 68, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.view_cart_product_btn:hover {
    opacity: 0.85;
}

/* ============================================================= content ============================================================ */

#content {
    background-color: rgba(245, 236, 236, 0.8);
    display: block;
    position: relative;
    top: 120px;
    margin-bottom: 150px;
}

.home {
    background: url(https://cf.shopee.vn/file/789323fd44c750feeb24cdcfa62f46fe) no-repeat top / 100%;
    width: 100%;
    height: 300px;

}

.banners {
    display: flex;
    margin: auto;
    width: 1140px;
    height: 100%;
    display: flex;
    padding-top: 20px;
}

.banners-carousel {
    width: 100%;
    height: 100%;
    background: #000;
}

.slider , .slider-item, .slider-item img{
    width: 100%;
    height: 100% !important;
}


.banners-others {
    display: flex;
    width: 38%;
    height: 100% ;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6px;
}

.banners-others img {
    width: 100%;
    height: 49%;
}

/* ----------------------------------------------------------- category ----------------------------------------- */



.content-category {
    width: 1200px;
    height: 390px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-category h3 {
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.content-category-carousel-product {
    max-height: 300px;
}

.content-category-product {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 1080px;
    margin-left: 1.4%;
    position: relative;
}

.content-category-product-wraper a {
    text-decoration: none;
    color:#000;
    padding: 0;
    margin: 0;
}

.content-category-product-item {
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 4px;
    box-sizing: border-box;
}

.content-category-product-item img {
    width: 90px;
    height: 90px;
}

.content-category-product-item h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
}

.content-category-product-item:hover {
    box-shadow: 0px 0px 3px 0px #ccc;
    border-color: rgb(36, 189, 113);
    cursor: pointer;
}

.content-category-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -165px;
}

.carousel-arrow_item {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 0 #ccc;
    cursor: pointer;
}
/* .content-category-carousel-product:hover .carousel-arrow_item{
    width: 45px;
    height: 45px;
    font-size: 20px;
    
} */
.content-category-carousel-product:active .carousel-arrow_item {
    background-color: #ddd;
}


/* ---------------------------------------------------------- product list -------------------------------------------------------- */

.content-product_list {
    background-color: #fff !important;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1140px;
    display: flex;
    margin: auto;
    background-color: rgba(245, 236, 236, 0.8) !important;
    padding-bottom: 30px;
}

.content-product_list-item {
    max-width: 210px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0 0 10px 0;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #ccc;
}

.content-product_list a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.content-product_list-item img {
    width: 100%;
    height: 60%;
    padding-top: 1px;
}

.content-product_list-item-introduction {
    width: 100%;
    height: 40%;
    margin-top: 15px;
}

.content-product_list-item-description {
    color: rgb(105, 97, 97);
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content-product_list-item-discount {
    font-size: 13px;
    padding: 2px 4px;
    color:#fff;
    background-color: rgb(79, 206, 100);
    display: inline-block;
    border-radius: 2px;
    margin-top: 10px;
    text-align: center;
}

.content-product_list-item-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.content-product_list-item-status .content-product_list-item-price {
    color: rgb(10, 2, 14);
    font-size: 16px;
}

.content-product_list-item-status .content-product_list-item-sold {
    color:rgb(134, 126, 126);
    font-size: 13px;
}

.content-product_list-item:hover {
    display: block;
    border: 1px solid rgb(241, 44, 60);
    transform: translateY(-2px);
}


/* ========================================================== footer ================================================================ */

#footer {
    background-color: rgba(245, 236, 236, 0.8);
}

.footer_wrap {
    background-color: #fff;
    display: flex;
    margin: auto;
    padding: 20px 0 15px 0;
    margin-top: 120px;
    justify-content: space-evenly;
}

.footer-element {
    width: 18%;
}

.footer-element h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
    text-align: center;
    font-weight: 545;
}

.footer-element li {
    list-style: none;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    font-size: 13px;
    padding: 5px 0;
}

.footer-element li:hover {
    color: red;
}

.footer-element-payment ul li img {
    width: 100%;
    height: 100%;
}

.footer-element-follow_us ul {
    margin: 0 8px;
}

.footer-element-follow_us ul i {
    font-size: 15px;
    margin-right: 5px;
}

.footer-element-download_my_app a {
    display: flex;
}

.footer-element-download_my_app-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-element-download_my_app a > img {
    width: 50%;
}

.footer-element-download_my_app-apps img {
    width: 80%;
    margin: 5px 0;
}


















