*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_login {
    background-color: rgba(245, 236, 236, 0.8);
}

#header_login{
    padding: 10px 0; 
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wraper {
    display: flex;
    align-items: center;
    width: 50%;
}

.brand {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_content h4 {
    padding: 0;
    margin: 0 10px;
    font-weight:bold ;
}

.header_content > a {
    color: rgb(219, 96, 24);
    text-decoration: none;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    font-size: 15px;
}

.header-wraper a {
    margin-left: 15px;
    font-size: 16px;
}

/* ======================================================================== content =============================================== */

#content_login {
    background: linear-gradient(120deg, #1a2a6c, #b21f1f, #fdbb2d);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin: 20px 0;
    width: 350px;
    height: 300px;
    background-color: #fff;
    flex-direction: column;
    border-radius: 3px;
}

.form h3 {
    text-align: center;
}

.form img {
    width: 30px;
    height: 30px;
}

.form_login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.form_login a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    display: flex;
    padding: 5px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid rgb(104, 99, 99);
    background-color: rgb(235, 238, 238);
    align-items: center;
}

.form_login a:hover {
    background-color: rgb(202, 231, 231);
}

.form_login a p {
    padding: 0;
    margin: 0 10px;
    min-width: 190px;
    text-align: center;
}

.signup_page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}

.signup_page p {
    margin: 0 5px 0 0;
}

.signup_page a {
    text-decoration: none;
    color:rgb(238, 11, 41);
}

/* ========================================================== footer ================================================================ */

#footer_login {
    background-color: rgba(245, 236, 236, 0.8);
}

.footer_login-wrap {
    background-color: #fff;
    display: flex;
    margin: auto;
    padding: 20px 0 15px 0;
    margin-top: 15px;
    justify-content: space-evenly;
} 

.footer-element {
    width: 18%;
}

.footer-element h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
    text-align: center;
    font-weight: 545;
}

.footer-element li {
    list-style: none;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    font-size: 13px;
    padding: 5px 0;
}

.footer-element li:hover {
    color: red;
}

.footer-element-payment ul li img {
    width: 100%;
    height: 100%;
}

.footer-element-follow_us ul {
    margin: 0 8px;
}

.footer-element-follow_us ul i {
    font-size: 15px;
    margin-right: 5px;
}

.footer-element-download_my_app a {
    display: flex;
}

.footer-element-download_my_app-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-element-download_my_app a > img {
    width: 50%;
}

.footer-element-download_my_app-apps img {
    width: 80%;
    margin: 5px 0;
}

























