
#header_myShop {
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    background-color: #ddd;
    width: 100%;
    display:flex;
    justify-content: center;
}

.header_myShop-navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
}

.header_myShop-navbar a {
    display: flex;
    align-items:center;
    justify-content:center;
}

.header_myShop-navbar a h4 {
    color: rgb(66, 65, 65);
    text-transform: capitalize;
    margin-left: 10px;
}

.header_myShop-navbar img {
    width: 100px;
    height: 60px;
}

.header_myShop-navbar-account {
    display: flex;
    align-items:center;
    cursor: pointer;
    position: relative;
}

.header_myShop-navbar-account::after {
    content: "";
    display: block;
    position:absolute;
    width: 160px;
    height: 20px;
    background-color:transparent;
    top: 35px;
}

.header_myShop-navbar-account img {
    border-radius:50%;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.header_myShop-navbar-account h5 {
    color: rgb(88, 86, 86);
    margin-right: 10px;
    font-size: 15px !important;
    max-width: 100px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header_myShop-navbar-account-option {
    position: absolute;
    background-color:#fff;
    top: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    width: 160px;
    height: 85px;
    padding: 18px;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #999;
    transform-origin: top;
    animation: showList ease-in 0.25s;
    display: none;
}

.header_myShop-navbar-account-option a {
    color: rgb(53, 52, 52);
}

.header_myShop-navbar-account-option a:hover {
    color: orange;
}

.header_myShop-navbar-account-option::before {
    content: "";
    display: block;
    position:absolute;
    border-style: solid;
    border-width: 10px 10px;
    border-color: transparent transparent #fff transparent;
    top: -20px;
}

.header_myShop-navbar-account:hover .header_myShop-navbar-account-option {
    display: flex;
}

/* ================================================================== content ============================================================ */

#content_myShop {
    padding: 20px;
    width: 100%;
    display: flex;
}

/* --------------------------------------------------------------- side bar ------------------------------------------------------ */

.content_myShop-side_bar {
    width: 20%;
}

.content_myShop-side_bar-item {
    margin-top: 30px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
}

.content_myShop-side_bar-delivery {
    margin-top: 0;
}

.content_myShop-side_bar-item li {
    list-style: none;
    margin: 5px 15px;
    display: inline-block;
}

.content_myShop-side_bar-item li:hover {
    color: rgb(36, 177, 71) !important;
}

/*  ---------------------------------------------------------------content body ------------------------------------------------ */

.content_myShop-body {
    width: 80%;
    background-color: #ddd;
    padding: 20px 30px;
}

.content_myShop-body-wrapper {
    padding: 20px;
    background-color: #fff;
    height: 100%;
}

.content_myShop-body-item-title h3 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold !important;
}

.separate_line_vertical {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 15px 0;
}

.content_myShop-body-product-main-item {
    margin: 25px 0;
}

.content_myShop-body-product-main-item {
    display: flex;
    align-items: center;
}

.content_myShop-body-product-main-item label {
    font-size: 15px;
    min-width: 200px;
    text-transform: capitalize;
}

.content_myShop-body-product-main-item input {
    width: 70%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 15px;
    letter-spacing: 1.5px ;
    border-radius: 3px;
}

.content_myShop-body-product-main-Category-list {
    min-width: 300px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 #ccc;
}

.content_myShop-body-product-main-Category-list:hover {
    overflow-x: hidden;
    overflow-y: visible;
}

.content_myShop-body-product-main-Category-list li {
    list-style: none;
    margin: 0 15px;
    display: block;
    cursor: pointer;
    padding: 6px 0;
    color: rgb(73, 72, 72);
    font-size: 15px !important;
}

.content_myShop-body-product-main-Category-list li:hover {
    transform: scale(1.03);
}

.content_myShop-body-product-main-Category input {
    margin-left: 20px;
    cursor: default;
}

.content_myShop-body-product-main-Category-imgs {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: flex-start;
}

.content_myShop-body-product-main-Category-imgs h4 {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
}

.product_imgs {
    margin-top: 15px ;
}

.main-Category-imgs-wrapper {
    width: 90px;
    height: 100px;
    margin-right: 10px !important;
    border: 1px dashed rgb(12, 157, 224);
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.content_myShop-body-product-main-description textarea {
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px;
    width: 70%;
}

/* ------------------------------------------------------------------- chi tiết sản phẩm ---------------------------------------- */

.content_myShop-body-product-main-detail-wrapper {
    border: 1px solid #ccc;
    width: 70%;
    border-radius: 3px;
    padding: 10px;
}


.content_myShop-body-product-main-detail-wrapper-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.content_myShop-body-product-main-detail-wrapper-item label {
    min-width: 130px;
    color: #666;
}

.content_myShop-body-product-main-detail-wrapper-item input {
    width: 60%;
    border: 1px solid rgb(110, 108, 108);
}

.content_myShop-body-product-main-detail-wrapper-item i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.product_detail_input-price , .product_detail_input-discount,.product_detail_input-amount {
    width: 20% !important;
}

.currency {
    margin-left: 10px;
    color: #555;
}

.kind_discount {
    display:flex;
    margin-left: 10px;
    color: #aaa;
    cursor: pointer;
}

.kind_discount span {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 15px;
}

.kind_discount span:hover {
    transform: scale(1.1);
    color: red;
}


/* ---------------------------------------------------------------- nút lưu ---------------------------------------------------- */
.content_myShop-body-store_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.content_myShop-body-store_btn span {
    color: #fff;
    background-color: rgb(255, 102, 0);
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 15px;
}

.content_myShop-body-store_btn span:hover {
    opacity: 0.85;
}

.select_product_category {
    color: rgb(243, 23, 60) !important;
}

.select_unit{
    color: red;
    font-size: 18px !important;
}


/* ============================================================= chọn ảnh sp = url ========================================= */

.main-Category-imgs-wrapper2 input {
    width: 420px;
    cursor: text;
    margin: 5px 10px;
}


/* ===================================================== view tất cả sản phẩm ========================================================= */

.content_myShop-body-all_product-main {
    width: 100%;
    padding: 0 30px;
}
.content_myShop-body-all_product-main-control {
    width: 100%;
    display: flex;
    align-items: center;
}

.content_myShop-body-all_product-main-control span {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.content_myShop-body-all_product-main-name {
    min-width: 40%;
    display: flex;
    align-items: center;
}

.content_myShop-body-all_product-main-amount, .content_myShop-body-all_product-main-sold, .content_myShop-body-all_product-main-action {
    min-width: 20%;
    display: flex;
    align-items: center;
}

.content_myShop-body-all_product-main-item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.content_myShop-body-all_product-main-item-wrapper {
    display: flex;
}

.content_myShop-body-all_product-main-item:hover {
    background-color: rgb(235, 235, 235);
}

.content_myShop-body-all_product-main-action a {
    color: #fff !important;
    margin-right: 15px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.content_myShop-body-all_product-main-action-edit {
    background-color: rgb(10, 180, 95) !important;
}

.content_myShop-body-all_product-main-action-edit:hover {
    background-color: rgb(19, 216, 117) !important;
}

.content_myShop-body-all_product-main-action-delete {
    background-color:rgb(212, 10, 10) !important;
}

.content_myShop-body-all_product-main-action-delete:hover {
    background-color:rgb(238, 62, 62) !important;
}

.content_myShop-body-all_product-main-item {
    display: flex;
}

.content_myShop-body-all_product-main-name img {
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
}

.content_myShop-body-all_product-main-name span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px !important;
    margin-left: 10px;
    line-height: 16px;
    max-width: 250px;
    max-height: 36px;
    user-select: none;
}

/* ================================================================= modal ======================================================== */

.modal-content_delete_product {
    position: absolute;
    width: 400px !important;
    height: 200px !important;
    background-color:#fff;
    border-radius: 3px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-content_delete_product p {
    font-size: 18px !important;
    margin: 15px 0;
    text-align: center;
}

.modal-body-confirm_delete_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body-confirm_delete_btn button {
    min-width: 70px !important;
    padding: 8px 4px !important;
    margin: 15px !important;
    font-size: 16px !important;
    cursor: pointer;
    border-radius: 3px;
}

.modal-body-confirm_delete_btn-yes {
    background-color: rgb(240, 41, 68) !important;
    color: #fff;
}

.modal-content-edit_product {
    width: 280px;
    height: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-body-create_product {
    width: 280px;
    height: 100px;
    display:flex ;
    align-items: center;
    justify-content: center;
}

.modal-body-create_product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* =================================================================== edit product ====================================== */
#content_edit_product {
    padding: 30px 150px;
}

.content_edit_product-wrapper {
    padding: 0 50px;
    border-width: 0 2px 0 2px;
    border-color: #ccc;
    border-style: solid !important;
}

.edit_product_btn {
    background-color: rgb(10, 139, 224) !important;
    color: #fff !important;
    padding: 8px 10px !important;
    font-size: 16px !important;
    border-radius: 3px !important;
}

/* ====================================================== view hồ sơ shop =================================================== */
.content_myShop-body-profile-main-wrapper {
    display:flex;
}

.content_myShop-body-profile-main-avatar {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.content_myShop-body-profile-main-avatar img {
    width: 360px;
    height: 240px;
    border-radius: 3px;
    margin: 20px 0;
}

.content_myShop-body-profile-main-avatar input {
    cursor: pointer;
}

.content_myShop-body-profile-main-info {
    width: 60%;
}

.content_myShop-body-profile-main-info-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.content_myShop-body-profile-main-info-item span {
    min-width: 100px;
    max-width: 100px;
    margin-right: 15px;
    font-size: 16px !important;
}

.input_item {
    margin: 30px 0;
}

.content_myShop-body-profile-main-info-item input, .content_myShop-body-profile-main-info-item textarea {
    padding: 8px 10px;
    font-size: 16px !important;
    letter-spacing: 1px;
    width: 500px;
}


.store_shop_profile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.store_shop_profile span {
    font-size: 16px !important;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(7, 167, 41);
}

.store_shop_profile span:hover {
    background-color: rgb(16, 199, 56);
}

.disabled2 {
    color: #aaa !important;
}

