

#content-account {
    padding-top: 140px;
    background-color: rgba(245, 236, 236, 0.8) ;
}

#content-account .container {
    display: flex;
}

:root .navbar_control a {
    color:#000;
}

.navbar_control {
    width: 20%;
    background-color: rgba(245, 236, 236, 0.8);
    /* background-color: #fff; */
    display:flex;
    flex-direction: column;
}

.navbar_control-user {
    display: flex;
    align-items: center;
}

.navbar_control-user img {
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.navbar_control-user p {
    font-size: 16px;
    line-height:16px;
    font-weight: bold;
    margin-left: 10px;
}

.navbar_control-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.navbar_control-item:hover > p {
    transform: scale(1.1);
}

.navbar_control-item i {
    font-size: 24px;
    margin-right: 10px;
}

.navbar_control-item p {
    font-size: 15px;
    line-height: 15px;
    padding: 10px 0;
    cursor: pointer;
}

.navbar_control-purchase_order i {
    margin-right: 13px;
}

.navbar_control-voucher i {
    font-size: 18px;
}

.navbar_control-profile-my_account-wrap {
    display: flex;
    align-items: center;
}

.navbar_control-profile-my_account-wrapper {
    display: flex;
    flex-direction: column;
}

.navbar_control-profile-my_account-wrapper .profile_item {
    font-size: 15px;
    margin:0px 0 5px 36px;
    padding: 5px 0;
}

.profile_item:hover {
    transform: scale(1.1);
}

.info_control {
    width: 80%;
    height: 500px;
    background-color: #fff;
    /* display: none; */
}

.info_control-item-wrap h3{
    position: relative;
    margin-left: 10px;
}

.info_control-item-wrap h3::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    opacity: 0.5;
    position: absolute;
    top: 42px;
    left: 0;
}

.info_control-item-content {
    margin-top: 32px;
    display: flex;
}

.info_control-item-content-my_info {
    width: 60%;
}

.my_info-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.my_info-email a {
    color: blue;
    text-decoration: underline;
}

.my_info-item label {
    width: 25%;
    text-align: center;
    margin: 0;
}

.wraper-input {
    width: 75%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.my_info-item input {
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

.my_info-item-warning {
    position: relative;
    top: -22px;
    left: 134px;
}

.name_warning {
    display: none;
}

.date_warning {
    display: none;
}

.my_info-item-warning span {
    font-size: 15px;
    color: red;
}

.my_info-number_phone p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-size: 15px;
    letter-spacing: 1px;
    /* display: none; */
}

.my_info-number_phone .change-number {
    color: rgb(10, 190, 49);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
    /* display: none; */
}

.my_info-number_phone .cancel {
    flex: 1;
    color: rgb(216, 29, 29);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

.my_info-number_phone .cancel:hover {
    color: rgb(245, 14, 14);
}

.my_info-number_phone-input {
    flex:1;
    height:100% !important;
    border-bottom: 1px solid #ccc !important;
    display: none;
}

.my_info-item select {
    width: 35%;
    height: 30px;
    cursor: pointer;
}

.my_info-date_of_birth-item {
    display: flex;
    width: 23%;
    box-sizing: border-box;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.my_info-date_of_birth-item select:hover ,.my_info-date_of_birth-item  input:hover {
    border: 1px solid rgb(219, 23, 23) !important;
}


.store_profile_btn {
    padding: 8px 18px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color:#fff;
    background-color: rgb(21, 181, 202);
    margin-left: 56%;
}

.store_profile_btn:hover {
    background-color: rgb(13, 206, 231);
}

.store_profile_btn:active {
    opacity: 0.8;
}

.store_profile_btn:focus {
    outline: none;
}

.my_info-date_of_birth-item select{
    display: block;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
    padding: 5px 0;
}

.my_info-date_of_birth-year {
    width: 100%;
    height: 100%;
    padding: 1px 0;
    text-align: center;
    border: 1px solid rgb(94, 89, 89) !important;
    padding: 5px 0;
}

.line_thin {
    width: 1px;
    height: 230px;
    background-color: #eee;
    margin-left: 52px;
    position: relative;
    top: 42px;
}

/* -------------------------------------------------------------------- select avatar -------------------------------------------------- */

.info_control-item-content-my_avatar {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
}

.info_control-item-content-my_avatar-wrapper {
    background: url(https://baoninhbinh.org.vn//DATA/ARTICLES/2021/5/17/cuoc-dua-lot-vao-top-100-anh-dep-di-san-van-hoa-va-thien-7edf3.jpg) no-repeat center / cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer ;
}

.info_control-item-content-my_avatar-wrapper input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: scaleY(1.4);
    position: relative;
    top: 21%;
    left: 3%;
    opacity: 0;
}

.info_control-item-content-my_avatar-wrapper input:active {
    outline: none;
    border:none;
}

.info_control-item-content-my_avatar button {
    padding: 5px 10px;
    background: #fff;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 10px;
}

.active {
    color: rgb(36, 177, 71) !important;
}

.warning_input {
    border: 1px solid red !important;
}

.disabled {
    opacity: 0.5;
}


/* ============================================================= footer ============================================================ */

#footer-account {
    width: 1114px;
    display: flex;
    margin: auto;
}


/* ============================================================ modal ============================================================ */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-body {
    width: 250px;
    height: 100px;
    position: absolute;
    background-color:#fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    border-radius: 8px;
}

.modal-body-updated_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body-address {
    width: 500px;
    height:550px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    border-radius: 8px;
}

.modal-body-address-wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.modal-body-address-wrapper h4 {
    font-weight: 550;
}

.modal-body-address-item {
    margin: 20px 0;
    position: relative;
}

.modal-body-address-item input {
    border: 1px solid #aaa;
    padding: 6px 8px;
    width: 70%;
    font-size: 15px;
    border-radius:3px;
}

.modal-body-address-item label {
    min-width: 25%;
    text-align: center;
}

.modal-body-address-name i, .modal-body-address-phone i {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 32%;
    right: 7%;
}

.modal-body-address-location {
    position: relative;
}

.modal-body-address-location input {
    border: 1px solid #aaa;
    width: 100%;
}

.modal-body-address-location i {
    position: absolute;
    font-size: 20px;
    right: 4%;
    bottom: 18%;
    color: #aaa;
}

.modal-body-address-delete-location {
    position: absolute;
    padding: 5px;
    cursor: pointer;
    right: 8%;
    bottom: 4%;
    color: #aaa;
}

.modal-body-address-location-detail input {
    padding-bottom: 20px;
}

.modal-body-address-wrapper-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.modal-body-address-wrapper button {
    padding: 8px 10px;
    min-width: 90px;
    border-radius: 3px;
    border:none;
    font-size: 15px;
    width: 100px;
}

.comfirm_btn {
    background-color: rgb(4, 197, 13);
    color: #fff;
}

.comfirm_btn:hover {
    background-color: rgb(6, 148, 13);
}

.back_btn:hover {
    background-color: rgb(161, 156, 156);
    color: #fff;
}

.modal-body-address-city_district {
    position: absolute;
    width: 100%;
    height: 250px;
    border-color: #ddd;
    z-index: 1;
    border-radius: 3px;
    background-color: #fff;
}

.modal-body-address-city_district-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #ddd;
    height: 40px;
}

.modal-body-address-city_district-title span {
    cursor: pointer;
    padding: 10px 0;
    position: relative;
}

.red_line {
    width: 50%;
    height: 1.5px;
    background-color: red;
    transition: transform 0.2s linear 0.2s;
}

.red_line-move {
    transform: translateX(100%);
}

.modal-body-address-city_district-list {
    width: 100%;
    height: calc(250px - 40px);
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0 0 2px 0 #ccc;
}

.modal-body-address-city_district-list ul {
    margin-top: 5px;
}

.modal-body-address-city_district-list ul li {
    font-size: 15px;
    list-style: none;
    text-transform: capitalize;
    padding: 4px 0;
    cursor: pointer;
    padding-left: 20px;
}

.modal-body-address-city_district-list ul li:hover {
    background-color: #eee;
}


/* ---------------------------------------------------- Địa chỉ ---------------------------------------------------------------- */
.info_control-address {
    background-color:#fff;
    width: 80%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.info_control-address-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_control-address-title-add_address {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: rgb(23, 154, 177);
    text-align: center;
    margin: 0;
    padding: 0 10px;
    border-radius: 3px;
    color: #fff;
    margin: 12px 0 20px 0;
}

.info_control-address-title-add_address i {
    margin-right: 5px;
}

.info_control-address-title-add_address:hover {
    opacity: 0.8;
}

.separation_line {
    width: 95%;
    height: 1px;
    background-color: #eee;
    display: flex;
    margin: auto;
}

.info_control-address-content {
    width: 100%;
}

.info_control-address-content-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.address-content-item-detail {
    width: 80%;
    margin-left: 10%;
}

.address-content-item-detail-info {
    width: 100%;
    display: flex;
    margin : 10px 0;
    flex-wrap: wrap; 
    font-size: 15px;
}

.address-content-item-detail-info span {
    min-width: 20%;
}

.address-content-item-detail-info p {
    margin-left: 15px;
}

.address-content-item-detail-info span {
    color: rgb(139, 133, 133);
    text-transform: capitalize;
}

.default_address {
    background-color: rgb(253, 249, 8);
    /* padding: 2px 5px; */
    border-radius:  5px;
    font-size: 14px;
    margin-left: 15px;
    color: red;
}

.address-content-item-option {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-content-item-option-edit span {
    padding: 6px 8px;
    color: #fff;
    cursor: pointer;
    margin: 0 6px;
    font-size: 15px;
    border-radius: 3px;
}

.address-content-item-option-edit span:hover {
    opacity: 0.8;
}

.address-content-item-option-edit-modify {
    background-color: rgb(9, 207, 108);
}

.address-content-item-option-edit-delete {
    background-color: red;
}

.address-content-item-option-set_default {
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 6px 10px;
    border-radius: 3px;
}

.address-content-item-option-set_default:hover {
    background-color: #ddd;
}

.hidden {
    display: none;
}


























