
.container {
    display: flex;
}

:root .navbar_control a {
    color:#000;
}

.navbar_control {
    width: 20%;
    height:500px;
    background-color: rgba(245, 236, 236, 0.8);
    /* background-color: #fff; */
    display:flex;
    flex-direction: column;
}

.navbar_control-user {
    display: flex;
    align-items: center;
}

.navbar_control-user img {
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.navbar_control-user p {
    font-size: 16px;
    line-height:16px;
    font-weight: bold;
    margin-left: 10px;
}

.navbar_control-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.navbar_control-item i {
    font-size: 24px;
    margin-right: 10px;
}

.navbar_control-item a {
    font-size: 15px;
    line-height: 15px;
    padding: 10px 0;
}

.navbar_control-purchase_order i {
    margin-right: 13px;
}

.navbar_control-voucher i {
    font-size: 18px;
}

.navbar_control-profile-my_account-wrapper .profile_item {
    font-size: 15px;
    margin:5px 0 5px 36px;
    padding: 5px 0;
}


.info_control {
    width: 80%;
    height: 300px;
    background-color: #fff;
}

.info_control-item-wrap h3 {
    position: relative;
}

.info_control-item-wrap h3::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    opacity: 0.5;
    position: absolute;
    top: 42px;
    left: 0;
}

.info_control-item-content {
    margin-top: 32px;
}

.my_info-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.my_info-item label {
    width: 15%;
    text-align: center;
}


.my_info-date_of_birth-item {
    display: flex;
}















































