
.header_product_detail {
    position: relative !important;
}

#content_product_detail {
    width: 75%;
    background-color: #ddd;
    position: relative;
    /* top: 120px; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
}

.product-introduction {
    display: flex;
}

.product-introduction-illustration {
    width: 40%;
}

.product-introduction-illustration-main_img {
    width: 100%;
    height: 400px;
}

.product-introduction-illustration-change_img_arrow {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    justify-content:space-between;
    top : 40px;
    font-size: 25px;
}

.product-introduction-illustration-change_img_arrow i {
    margin: 0 -14px;
    cursor: pointer;
    padding: 2px;
}

.product-introduction-illustration-change_img_arrow i:hover {
    transform: scale(1.1);
}

.product-introduction-illustration-some_img {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: left;
    margin-top: 15px;
}

.product-introduction-illustration-some_img-wrapper {
    display: flex;
    justify-content: left;
    overflow: hidden;
}

.product-introduction-illustration-some_img-item {
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #aaa;
}

.product-introduction-illustration-some_img-item:hover {
    border-color: red;
    opacity: 0.85;
}

.product-introduction-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.product-introduction-social-share_product {
    display: flex;
}

.product-introduction-social-share_product p {
    font-size: 16px;
}

.product-introduction-social-share_product i {
    cursor: pointer;
    margin: 0 3px;
    font-size: 20px;
}

.separate_line {
    height: 20px;
    width: 1px;
    background-color: #ddd;
}

.like_product {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like_product .like_product-heart_reaction {
    font-size: 25px;
    margin-right: 5px;
    color: #ccc;
}

.like_product p {
    font-size: 16px;
    user-select: none;
}

.active_heart_product {
    color: red !important;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

.product-introduction-option {
    width: 60%;
    padding-left: 30px;
}

.product-introduction-option-title {
    width: 100%;
}

.product-introduction-option-title-name {
    width: 100%;
}

.product-introduction-option-title-name h4 {
    font-size: 20px;
    line-height: 20px;
}

.product-introduction-option-title-statistics {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 55%;
    justify-content: space-around;
}

.product-introduction-option-title-statistics-rating_star {
    display: flex;
    align-items: center;
}

.product-introduction-option-title-statistics-rating_star p {
    color: rgb(139, 26, 214);
    margin-right: 5px;
}

.product-introduction-option-title-statistics-rating_star i {
    color: rgb(240, 219, 36);
    font-size: 16px;
}

.product-introduction-option-title-statistics-rating {
    display: flex;
    align-items: center;
}

.product-introduction-option-title-statistics-rating p {
    color: rgb(139, 26, 214);
    text-decoration: underline;
    margin-right: 5px;
}

.product-introduction-option-title-statistics-rating span, .product-introduction-option-title-statistics-sold span {
    color: rgb(114, 110, 110);
    font-size: 15px;
}

.product-introduction-option-title-statistics-sold {
    display: flex;
    align-items: center;
}

.product-introduction-option-title-statistics-sold p {
    color: rgb(139, 26, 214);
    margin-right: 5px;
}


.product-introduction-option-price {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #ddd;
    align-items: center;
    margin-top: 15px;
    border-radius: 2px;
}

.product-introduction-option-price-item {
    margin-right: 15px !important;
}

.product-introduction-option-price-origin {
    color: rgb(114, 110, 110);
    text-decoration: line-through;
    font-size: 18px;
}

.product-introduction-option-price-after_discount {
    color:rgb(139, 26, 214);
    font-size: 25px;
}

.product-introduction-option-price-discount {
    padding: 2px 4px;
    color: #fff;
    background-color: rgb(216, 56, 44);
    border-radius: 3px;
}

.product-introduction-option-item {
    display: flex;
    width: 100%;
    font-size: 16px;
}

.product-introduction-option-delivery {
    margin-top: 30px;
}

.introduction-option-delivery-content-free_ship {
    display: flex;
    align-items: center;
}

.introduction-option-delivery-content-free_ship i {
    font-size: 18px;
    margin-right: 5px;
}

.product-introduction-option-item-title {
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(6, 109, 156);
    min-width: 120px;
}

.product-introduction-option-delivery-from {
    display: flex;
    margin-top: 15px;
}

.product-introduction-option-delivery-from span {
    color: rgb(114, 110, 110);
    margin-right: 15px;
}

.product-introduction-option-select_color {
    margin-top: 30px;
}

.product-introduction-option-select_color-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-introduction-option-select_color-btn {
    background-color: #fff;
    padding: 3px 13px;
    min-width: 80px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right:10px ;
    border: 2px solid rgb(236, 229, 229);
    color: rgb(58, 56, 56);
}

.product-introduction-option-select_color-btn i {
    color: rgb(15, 216, 15);
    margin-left: 5px;
}

.product-introduction-option-select_color-btn:hover {
    border-color: rgb(17, 107, 243);
}

.select_color {
    border-color: rgb(17, 107, 243);
}

/* ---------------------------------------------------------- choose quantity ------------------------------------------ */

.product-introduction-option-quantity {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.choose_quantity_btn {
    width: 6%;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose_quantity_btn:hover {
    border-color: rgb(235, 64, 11);
}

.product-introduction-option-quantity_choosen {
    width: 8%;
    height: 30px;
    padding: 0 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.product_available {
    color: rgb(94, 91, 91);
    font-size: 15px;
    margin-left: 20px;
    display: flex;
}

.product_available p {
    margin-right: 6px;
}

/* ------------------------------------------------------------- nút mua hàng ---------------------------------------------- */

.product-introduction-option-btn {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.introduction-option-btn-add_to_cart {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    background-color: #fff;
    text-transform: capitalize;
    border: 1px solid red;
    color: rgb(245, 51, 51);
}

.product-introduction-option-btn span {
    font-size: 16px ;
}

.introduction-option-btn-add_to_cart span {
    margin-left: 10px;
}

.introduction-option-btn-buy_now {
    text-align: center;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: capitalize;
    background-color: rgb(231, 29, 29);
    color: #fff;
    border: 1px solid red;
    margin-left: 20px;
}


.product-introduction-option-delivery_policy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.introduction-option-delivery_policy-item {
    display: flex;
    align-items: center;
}

.introduction-option-delivery_policy-item img {
    width: 20px;
    height: 20px;
}

.introduction-option-delivery_policy-item p {
    font-size: 15px;
}

.introduction-option-btn-add_to_cart:hover , .introduction-option-btn-buy_now:hover {
    opacity: 0.85;
}

/* ====================================================== product detail ================================================== */

.product-detail {
    width: 100%;
    margin-top: 70px;
}

.title_header {
    width: 100%;
    background-color: #ddd;
    height: 50px;
    display: flex;
    align-items: center ;
}

.title_header h3 {
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    margin-left: 30px;
    text-transform: uppercase;
}

.product-detail-content {
    padding: 0 30px;
}

.product-detail-content , .product-detail-content-features, .product-detail-content-features-item{
    width: 100%;
}

.product-detail-content-features-item {
    display: flex;
    font-size: 15px;
    margin-top: 40px;
}

.product-detail-content-features-item span {
    color: rgb(60, 41, 235);
    min-width: 90px;
    max-width: 90px;
    margin-right: 30px;
    text-transform: capitalize;
}

/* ========================================================= Mô tả sản phẩm ==================================================== */

.product-description {
    margin-top: 60px;
}

.product-description-content {
    width: 100%;
    padding:0 30px ;
    margin-top: 40px;
}

.product-description-content h5 {
    font-size: 16px;
    font-weight: 550;
    margin: 18px 0 8px 0;
}

.product-description-content p {
    font-size: 14px;
    margin: 10px 0;
    white-space: pre-wrap;
    display: block;
    line-height: 20px;
}

/* ============================================================ Đánh giá ====================================================== */

.product-review {
    width: 100%;
    margin-top: 40px;
}

.product-review-content{
    width: 100%;
    margin-top: 30px;
}

.product-review-content-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(109, 222, 226);
    padding: 30px;
}

.product-review-content-header-star {
    color: rgb(248, 19, 19);
}

.product-review-content-header-star-average {
    width: 100%;
    display: flex;
    align-items: center;
}

.product-review-content-header-star-average h2 {
    margin: 0;
}

.product-review-content-header-star-average span {
    font-size: 18px;
    line-height: 30px;
    margin-left: 5px;
}

.product-review-content-header-summary {
    margin-left: 50px;
    width: 70%;
}

.product-review-content-header-summary-count_star {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.product-review-content-header-star_btn {
    min-width: 80px;
    padding: 5px 10px;
    border: 1px solid rgb(219, 209, 209);
    background-color: #fff;
    border-radius: 3px;
}

.product-review-content-header-summary-comment_imgs {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 15px;
}

.product-review-content-header-summary-comment_imgs span:first-child {
    margin-right: 15px;
}


/*  ========================================================= comment =========================================================== */

.product-review-content-body {
    padding: 0 30px;
    margin-top: 20px;
}

.product-review-comment-user_comment {
    margin-left: 10px;
}

.product-review-content-body, .product-review-content-comment-item {
    width: 100%;
}

.product-review-content-comment-item {
    display: flex;
}

.product-review-comment-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.product-review-comment-user-name {
    color: rgb(10, 173, 37);
}

.product-review-comment-user-evaluate i {
    color: rgb(248, 19, 19);
}


.product-review-comment-content {
    margin: 10px 0 15px 0 !important;
}

.product-review-comment-user-illustration_imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-review-comment-user-illustration_imgs-zoom {
    width: 300px;
    height: 400px;
    border-radius: 2px;
    margin-top: 10px;
    cursor: zoom-out;
}

.product-review-comment-user-illustration_imgs img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    cursor: zoom-in;
    border-radius: 2px;
}

.separate_comment {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin: 20px 0;
}

#footer {
    position: relative;
}

.footer_product_detail {
    top: -50px;
}

.move_top {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 25px;
    cursor: pointer;
    box-shadow: 0 0 2px 0;
    border: 2px solid #ddd;
}

.move_top i {
    font-size: 20px;
    color: rgb(116, 114, 114);
}

.evaluate_star {
    border: 2px solid rgb(24, 223, 41);
    background-color: rgb(238, 229, 229);
}

.select_comment_img {
    cursor: zoom-out !important;
    border: 3px solid blue ;
}




