
#content_product_detail {
    width: 75%;
    height: 800px;
    background-color: #ddd;
    position: relative;
    top: 120px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
}

.product-introduction {
    display: flex;
}

.product-introduction-illustration {
    width: 40%;
}

.product-introduction-illustration-main_img {
    width: 100%;
    height: 400px;
}

.product-introduction-illustration-change_img_arrow {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    top : 40px;
    font-size: 25px;
}

.product-introduction-illustration-change_img_arrow i {
    margin: 0 -14px;
    cursor: pointer;
    padding: 2px;
}

.product-introduction-illustration-change_img_arrow i:hover {
    transform: scale(1.1);
}

.product-introduction-illustration-some_img {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: left;
    margin-top: 15px;
}

.product-introduction-illustration-some_img-item {
    width: 25%;
    height: 80px;
    margin-right: 2%;
    cursor: pointer;
    border: 1px solid red;
}

.product-introduction-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-introduction-social-share_product {
    display: flex;
}

.product-introduction-social-share_product p {
    font-size: 16px;
}

.product-introduction-social-share_product i {
    cursor: pointer;
    margin: 0 3px;
    font-size: 20px;
}

.separate_line {
    height: 20px;
    width: 1px;
    background-color: #ddd;
}

.like_product {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like_product .like_product-heart_reaction {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.like_product p {
    font-size: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

.product-introduction-option {
    width: 60%;
    padding-left: 20px;
}

.product-introduction-option-title {
    width: 100%;
}

.product-introduction-option-title-name {
    width: 100%;
}

.product-introduction-option-title-name h4 {
    font-size: 22px;
}

.product-introduction-option-title-statistics {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 55%;
    justify-content: space-around;
}

.product-introduction-option-title-statistics-rating_star {
    display: flex;
    align-items: center;
}

.product-introduction-option-title-statistics-rating_star p {
    color: rgb(139, 26, 214);
    margin-right: 5px;
}

.product-introduction-option-title-statistics-rating_star i {
    color: rgb(240, 219, 36);
    font-size: 16px;
}

.product-introduction-option-title-statistics-rating {
    display: flex;
    align-items: center;
}

.product-introduction-option-title-statistics-rating p {
    color: rgb(139, 26, 214);
    text-decoration: underline;
    margin-right: 5px;
}

.product-introduction-option-title-statistics-rating span, .product-introduction-option-title-statistics-sold span {
    color: rgb(114, 110, 110);
    font-size: 15px;
}

.product-introduction-option-title-statistics-sold {
    display: flex;
    align-items: center;
}

.product-introduction-option-title-statistics-sold p {
    color: rgb(139, 26, 214);
    margin-right: 5px;
}











