:root img {
    object-fit: cover;
}


/* ================================================== on mobile ======================================================== */
.on_mobile {
    display: none !important;
}

.on_pc {
    display: none;
}

.on_pc_flex {
    display: none !important;
}

@media screen and (max-width: 46.1875em) {
    .on_mobile {
        display: block !important;
    }
    .on_mobile_flex {
        display: flex !important;
    }
    /* =========================================================== home page ============================================ */

    #main {
        max-width: 46.1875em;
        overflow: hidden ;
    }

    #header {
        max-width: 46.1875em;
        max-height: 70px;
    }

    .navbar, .web_logo {
        display: none;
    }

    .header-search {
        margin-top: 10px ;
    }

    .user, .header-cart i {
        font-size: 18px !important;
        margin: 0 15px;
    }

    .header-search_bar {
        height: 34px;
        width: 80%;
    }

    .header-search_bar input {
        font-size: 15px !important;
    }

    .search_product {
        padding: 7px 18px !important;
    }

    .search_result {
        top: 40px;
    }

    .header-cart:hover .header-cart-list_product{
        display: none !important;
    }

    .avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }

    .header-cart-number_display {
        width: 18px !important;
        height: 18px !important;
    }

    /* ------------------------------------------------------------- content -------------------------------------------------- */
    #content {
        top: 80px;
        margin-bottom: 20px;
    }

    .banners {
        padding: 0;
    }

    .banners-carousel {
        display: none;
    }

    .banners-others {
        width: 100vw;
        padding: 0 10px;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .banners-others img {
        max-width: 100% ;
    }

    .content-category-product {
        margin: 0;
    }

    .content-category-product-item {
        width: 100px;
        height: 130px;
    }

    .content-product_list-item {
        width: 47% !important;
    }

    .content-product_list-item img {
        width: 100% !important;
        height: 176px !important;
    }

    .content-product_list-item-status {
        padding-bottom: 5px;
    }

    .content-category-carousel {
        display: none;
    }

    /* --------------------------------------------------------- footer ---------------------------------------------------- */
    .app_qrcode {
        display: none;
    }

    .footer-element-download_my_app-apps img {
        width: 100%;
    }

    /* ======================================================= login page ======================================================= */
    .header-wraper h4 {
        min-width: 100px;
    }

    /* ====================================================== product detail page ============================================= */
    
    .header_product_detail {
        height: 50px !important;
        display:flex !important;
        justify-content:center;
        align-items:center;
        position: fixed !important;
        top: 0;
        left: 0;
    }

    .header-search-product_detail_page {
        margin: 0;
    }

    .header-search_bar-product_detail_page {
        display: none;
    }

    .arrow_left_back {
        font-size: 18px;
    }

    /* ---------------------------------------------------- content ------------------------------------------------------- */
    #content_product_detail {
        width: 100vw ;
    }

    .product-introduction {
        flex-direction: column;
    }

    .product-introduction-illustration {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 32px;
    }

    .product-introduction-illustration-main_img {
        height : 320px;
    }

    .product-introduction-illustration-change_img_arrow {
        display: none;
    }

    .product-introduction-illustration-some_img {
        justify-content: center;
    }

    .product-review-comment-user-illustration_imgs-zoom {
        width : 280px;
        height: 280px;
    }

    .product-introduction-illustration-some_img-item {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
    }

    .product-introduction-social {
        display: none;
    }

    .product-introduction-option {
        width: 100%;
        padding: 0;
    }

    .product-introduction-option h4 {
        font-size: 16px;
        text-align: left;
    }

    .product-introduction-option-title-name {
        width: 100%;
    }

    .product-introduction-option-title-statistics {
        width: 100%;
    }

    .product-introduction-option-price {
        padding : 10px;
    }

    .product-introduction-option-price-discount {
        padding: 2px 3px;
    }

    .product-introduction-option-item-title, .product-introduction-option-delivery-content {
        font-size: 15px;
    }

    .product-introduction-option-select_color, .product-introduction-option-quantity {
        display: none;
    }

    .product-introduction-option-btn {
        margin: 0;
        width: 100%;
        position: fixed;
        display: flex;
        bottom: 0;
        justify-content: space-between;
    }

    .introduction-option-btn-add_to_cart, .introduction-option-btn-buy_now {
        width: 60%;
        border-radius: 0;
        padding: 12px 10px;
    }

    .introduction-option-btn-add_to_cart span {
        font-size: 15px;
    }

    .introduction-option-btn-buy_now {
        margin: 0;
        width: 40%;
        border-radius: 0;
    }

    .product-shop {
        margin: 15px;
        border: none;
    }

    .let_visit_shop {
        display: none;
    }

    .chat_with_shop {
        margin-right: 5px !important;
    }

    .product-detail, .product-description {
        margin-top: 15px;
    }

    .title_header {
        background-color: #fff;
        height: 30px;
    }

    .title_header h3 {
        font-size: 15px;
        margin: 0;
        font-weight: bold;
        margin-right: 10px;
    }

    .title_header i {
        font-size: 16px;
        color: #aaa;
    }

    .product-detail-content {
        padding: 0;
    }

    .product-detail-content-features-item {
        margin: 10px 0;
    }

    .product-description-content, .product-description-content p{
        margin: 0;
    }

    .product-shop-item img {
        width: 60px;
        height: 60px;
    }

    .see_more {
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        padding-top: 15px;
        border-top: 1px solid #ccc;
    }

    .see_more span {
        margin-right: 5px;
        color: rgb(248, 109, 9);
        text-transform: underline;
    }

    .introduction-option-delivery_policy-item {
        justify-content: center !important;
    }

    .introduction-option-delivery_policy-item p {
        font-size: 14px;
    }
    
    .product-review {
        margin: 10px;
    }

    .product-review-content {
        margin: 0;
    }


    .product-review-content-header {
        padding: 0;
        background-color:#fff;
    }

    .product-review-content-header-star-average h2,
    .product-review-content-header-star-average span,
    .product-review-content-header-summary-comment_imgs {
        font-size: 15px;
    }

    .product-review-content-header-summary-comment_imgs {
        display:flex;
        flex-direction: column;
        margin: 0;
    }

    .product-review-content-header-summary-count_star {
        display: none;
    }

    .product-review-content-header-star {
        width: 50%;
    }

    .product-review-content-body {
        padding: 0;
    }


    /* ================================================== cart page ===================================================== */
    #header_cart {
        padding: 0 10px;
    }

    .header_cart-links {
        display: flex;
        align-items: center;
    }

    .header_cart-links-item {
        display: none;
    }

    .header_cart-user-account-option {
        width: 125px;
        height: 75px;
    }

    .header_cart-user-account-option a {
        font-size: 14px;
    }
    
    /* ------------------------------------------- content ----------------------------------------- */
    #content_cart {
        padding: 0 10px ;
    }

    .content_cart-product-item {
        padding: 10px;
    }

    .content_cart-product-item-wrapper {
        flex-direction: column;
    } 

    .content_cart-product-item-wrapper {
        align-items: flex-start;
    }

    .content_cart-control {
        display:none;
    }

    .content_cart-product-item-avatar {
        width: 70px;
        height: 70px;
    }

    .content_cart-product_info {
        max-width: 100%;
        width: 100%;
    }

    .content_cart-control-item, .content_cart-control-item-amount, .content_cart-product-manipulation-selection {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }

    .content_cart-control-item-payment {
        display: none;
    }

    .content_cart-control-item-price {
        margin: 5px;
    }

    .content_cart-control-item-price span, .content_cart-control-item-price p {
        color: red;
    }

    .content_cart-control-item-amount input {
        padding-left: 44px;
    }

    .delete_cart_product {
        margin-top: 10px;
        color: rgb(188, 10, 188) !important;
    }

    .content_cart-product-manipulation {
        display: flex;
        flex-direction: column;
        padding: 10px 5px ;
    }

    .select_all {
        margin: 0 10px 0 0 !important;
    }

    .delete_cart_product-all {
        color: rgb(188, 10, 188) !important;
        font-size: 16px;
    }

    .content_cart-product-manipulation-buy_product {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .content_cart-product-manipulation-buy_btn {
        padding: 8px 18px;
    }

    /* --------------------------- modal --------------------------------------------- */

    .modal_content-comfirm_buy_product {
        width: 100%;
        height: 500px;
    }

    .modal_content-comfirm_buy_product-item label, .modal_content-comfirm_buy_product-item input,
    .modal_content-comfirm_buy_product-item p, .unit_of_delivery {
        font-size: 15px !important;
    }

    .payment_form-wrapper {
        margin-left: 8px;
    }

    .payment_form-wrapper-item i {
        display: none;
    }

    .payment_form-wrapper-item:hover {
        background-color: rgb(30, 194, 30);
        color: #fff;
    }

    /* ------------------------------------------- footer ---------------------------------------- */
    .footer_wrap {
        margin-top: 80px;
    }

    /* ============================================================== visit shop page ======================================== */
    .content_visit_shop-introduction {
        margin-top: 45px;
    }

    .content_visit_shop-introduction-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        width: 100vw;
    }

    .content_visit_shop-introduction-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% ;
    }

    .content_visit_shop-introduction-img-action {
        flex-direction: column;
        margin: 0 0 0 10px;
    }

    .content_visit_shop-introduction-action_item {
        margin: 5px 0 0 0;
        color: red;
    }

    .content_visit_shop-introduction-about {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        align-items: center;
        flex-direction: row;
        min-width: 316px;
        width: 100%;
        padding: 0 10px;
    }

    .content_visit_shop-introduction-about-item {
        margin: 10px 0 !important;
        width: 50%;
    }

    .content_visit_shop-introduction-about-item i {
        margin:0 !important;
        font-size: 14px;
    }

    .content_visit_shop-introduction-description {
        width: 100% !important;
    }

    .content_visit_shop-product-wrapper {
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
    }

    .content_visit_shop-product-item {
        margin-top: 10px;
        min-width: 176px !important;
        max-width: 176px !important;
    }

    .content_visit_shop-product-item img {
        width: 100%;
        height: 178px;
    }

    .footer_visit_shop {
        top: 0;
    }


}



/* ========================================================= on pc ===================================== */

@media screen and (min-width: 64em) {
    .on_pc {
        display: block;
    }
    .on_pc_flex {
        display: flex !important;
    }

}


