* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#header {
    width:100%;
    height: 120px;
    background: linear-gradient(-180deg,#642b73, #c6426e);
    color: #fff;
    font-size: 15px;
}

:root a {
    color: #fff;
    text-decoration: none;
}

:root p {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content:space-between;
}

.link_user {
    display: flex;
}

.link_user > a {
    font-size: 15px;
    line-height: 15px;
    margin-right: 20px;
}

.link_user > a::after , .download_app_on_mobile p::after, .header-account :first-child::after{
    content:"";
    display: inline-block;
    width:2px;
    height:20px;
    background-color:rgb(241, 214, 214);
    position: relative;
    left: 10px;
    line-height:10px;
    top: 5px;
    opacity: 0.2;
}

.download_app_on_mobile {
    position: relative;
    cursor: pointer;
}

.qrcode_app {
    position:absolute;
    width:180px;
    top: 130%;
    left: -10px;
    display: none;
}

.qrcode_app::before {
    content: "";
    width: 100%;
    height:20px;
    position: absolute;
    display: block;
    top: -15px;
}

.qrcode_app img {
    border-radius:2px;
}

.download_app_on_mobile:hover .qrcode_app {
    display: block;
}

.some_app {
    margin:0 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.some_app img {
    padding-right: 5px;
    margin-top: 5px;
}

.link_to_social {
    line-height:30px;
    margin-left: 25px;
}

.link_to_social a i {
    padding: 0 3px;
    font-size: 18px;
}

.header-section {
    display: flex;
}

.header-section-item {
    margin-left: 15px;
    cursor: pointer;
    line-height:30px;
}

.header-account > a {
    margin-right: 20px;
}

.link_user > a:hover, .download_app_on_mobile p:hover, .header-account a:hover, .header-notification:hover p, .header-support:hover {
    opacity: 0.7;
}

.header-notification {
    position: relative;
}

.header-notification-show {
    width: 400px;
    height: 370px;
    background:#fff;
    position : absolute;
    left: -350%;
    z-index: 5;
    margin-top: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 3px 2px 1px #ccc;
    transform-origin: 90% top ;
    animation: showNotification ease-in 0.25s;
    display: none;
}

@keyframes showNotification {
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.header-notification-show::before {
    content: "";
    position: absolute;
    border-style: solid ;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    right: 0;
}

.header-notification-show::after {
    content: "";
    position: absolute;
    display: block;
    right: 30px;
    top: -10px;
    width: 80px;
    height: 15px;
}

.header-notification:hover .header-notification-show {
    display: flex ;
}

.header-notification-show img {
    height: 40%;
    width: 40%;
}

.header-notification-show h3 {
    font-size:15px;
    line-height:15px;
    color:#000;
    font-weight: normal;
}

.header-notification-show-btn_login {
    display: block;
    width:100%;
    display:flex;
    position: relative;
    top: 23%;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.header-notification-show-btn_login a {
    display:block;
    width: 50%;
    text-align: center;
    color:#000;
    background-color: rgb(247, 246, 239);
    font-size: 15px;
    padding: 2px 0;
}

.header-notification-show-btn_login a:hover {
    background-color: #ccc;
    color: red;
}

/* ---------------------------------------------------------------- header search ----------------------------------------------------- */

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-search_bar {
    background: #fff;
    border-radius: 20px;
    width: 60%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.header-search_bar input {
    height: 100%;
    width: 90%;
    margin-left: 20px;
    border:none;
    outline: none;
}

.header-search_bar a {
    font-size: 20px;
    line-height: 20px;
    padding:12px 28px;
    box-sizing: border-box;
    background: linear-gradient(0,#642b73, #c6426e);
    border-radius: 20px;
}

.header-cart a i {
    font-size: 25px;
    line-height: 25px;
}



















